streamlit==1.41.0
plotly
matplotlib
librosa
noisereduce
torch
transformers
tensorflow
keras
google-generativeai
wave
sounddevice
numpy
nltk
python-dotenv
audio-recorder-streamlit
Pillow
openai-whisper